<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="NLog" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.11" targetFramework="net48" />
  <package id="Tekla.BIM.DirectManipulation" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Catalogs" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Dialog" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins.DirectManipulation" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Technology.Msglib" version="2.1.18312" targetFramework="net48" />
  <package id="Tekla.Technology.Rkit" version="2.1.4.17310" targetFramework="net48" />
</packages>