<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Mvvm" version="8.0.0" targetFramework="net48" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="NLog" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.11" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.11" targetFramework="net48" />
  <package id="NPOI" version="2.5.6" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net48" />
  <package id="Syncfusion.Calculate.Base" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.Grid.WPF" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.Wpf" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.Linq.Base" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.PivotAnalysis.Base" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.PivotTable.Wpf" version="20.2.0.43" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.2.0.43" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="6.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="Tekla.BIM.DirectManipulation" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Catalogs" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Dialog" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins.DirectManipulation" version="2021.0.0" targetFramework="net48" />
  <package id="Tekla.Technology.Msglib" version="2.1.18312" targetFramework="net48" />
  <package id="Tekla.Technology.Rkit" version="2.1.4.17310" targetFramework="net48" />
</packages>